.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: var(--padding-default);
}

.interlocutor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0;
}

.interlocutor img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 2px solid var(--clr-primary-text);
}

.back-to-dialogues {
  display: none;
}

.chat-user-info h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.chat-user-info span {
  font-size: 0.75rem;
  color: var(--clr-secondary-text);
}

@media (max-width: 1400px) {
  .back-to-dialogues {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--clr-primary-text);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    font-family: var(--ff-main);
    font-size: 0.875rem;
  }

  .back-to-dialogues:hover {
    background: var(--clr-page-bg-dark);
  }

  .back-to-dialogues img {
    width: 1rem;
    height: 1rem;
  }
}

@media (max-width: 700px) {
  .interlocutor {
    gap: 0.5rem;
  }

  .interlocutor img {
    width: 3rem;
    height: 3rem;
  }

  .chat-user-info h2 {
    margin-top: 0;
    margin-bottom: 0.25rem;
    font-size: 1rem;
  }

  .chat-user-info span {
    font-size: 0.875rem;
  }
}

@media (max-width: 650px) {
  .back-to-dialogues img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .back-to-dialogues span {
    display: none;
  }
}
