.message {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.875rem;
  width: max-content;
  max-width: 400px;
  padding: 1rem;
  margin: 0.5rem 0;
}

.message time {
  font-size: 0.75rem;
  color: var(--clr-secondary-text);
  align-self: flex-end;
}

.incoming {
  border-radius: 0 1rem 1rem 1rem;
  background-color: var(--clr-chat-incoming);
  margin-right: auto;
}

.outgoing {
  border-radius: 1rem 0 1rem 1rem;
  background-color: var(--clr-chat-outgoing);
  margin-left: auto;
}

@media (max-width: 600px) {
  .message {
    width: 85%;
    font-size: 1rem;
    padding: 0.75rem;
  }
}
