.chat {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-y: hidden;
}

.chat-area {
  padding: 0 var(--padding-default);
  max-height: 100%;
  overflow-y: scroll;
  background-color: var(--clr-alt-bg);
  border-bottom: 1px solid var(--clr-border);
  border-top: 1px solid var(--clr-border);
}

.chat-area::-webkit-scrollbar {
  width: 0.4rem;
  background: var(--clr-card-bg);
}

.chat-area::-webkit-scrollbar-thumb {
  background-color: rgb(228, 228, 228);
}

.chat-controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 1.5rem;
  gap: 1rem;
}

.chat-controls img {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

.chat-controls input {
  border-radius: 0.25rem;
  border: 1px solid var(--clr-border);
  padding: 0.5rem 0.75rem;
  background-color: var(--clr-alt-bg);
  color: var(--clr-main-text);
  font-family: var(--ff-main);
  min-width: 250px;
  flex: 1;
}

.chat-controls button {
  cursor: pointer;
  background-color: var(--clr-primary);
  color: var(--clr-alt-text);
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.875rem;
  font-family: var(--ff-main);
  width: max-content;
}

.chat-controls button:hover {
  background-color: var(--clr-primary-dark);
}

.chat-controls button div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.chat-controls button img {
  width: 1rem;
  height: 1rem;
}

.day-marker {
  font-size: 0.75rem;
  color: var(--clr-secondary-text);
  text-align: center;
  margin: 1.5rem auto;
}

@media (max-width: 850px) {
  .chat-controls input {
    min-width: 0;
  }
}

@media (max-width: 700px) {
  .chat-controls {
    padding: 1rem;
  }

  .chat-controls button span {
    display: none;
  }

  .chat-area {
    padding: 0 1rem;
  }
}

@media (max-width: 650px) {
  .chat-area {
    padding: 0 0.75rem;
  }

  .chat-controls {
    padding: 0.75rem;
  }

  .day-marker {
    font-size: 0.875rem;
  }
}
