.dialogues {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-y: hidden;
  width: min(100%, 700px);
  margin: 0 auto;
}

.dialogue-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-default);
  gap: 1rem;
}

.dialogue-header input {
  border-radius: 4rem;
  border: 1px solid var(--clr-border);
  padding: 0.5rem 0.75rem;
  background-color: var(--clr-alt-bg);
  color: var(--clr-secondary-text);
  font-family: var(--ff-main);
  min-width: 250px;
}

.dialogue-header h2 {
  margin: 0;
  font-size: 1.25rem;
  color: var(--clr-main-text);
}

.dialogue-list {
  padding: 1rem;
  max-height: 100%;
  overflow-y: scroll;
  border-top: 1px solid var(--clr-border);
  border-bottom: 1px solid var(--clr-border);
  background-color: var(--clr-alt-bg);
}

.dialogue-list::-webkit-scrollbar {
  width: 0.4rem;
  background: var(--clr-card-bg);
}

.dialogue-list::-webkit-scrollbar-thumb {
  background-color: rgb(228, 228, 228);
}

.dialogue-list > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.new-dialogue-button {
  cursor: pointer;
  background-color: var(--clr-positive);
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 1rem 3rem;
  font-size: 0.875rem;
  font-family: var(--ff-main);
  width: max-content;
  margin: 1rem auto;
}

.new-dialogue-button:hover {
  background-color: #176d2a;
}

.new-dialogue-button div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.new-dialogue-button img {
  width: 1rem;
  height: 1rem;
}

.centered {
  display: grid;
  place-content: center;
  padding: 3rem 1.5rem;
}

/* @media (max-width: 700px) {
  .dialogue-header {
    padding: 1rem;
  }
} */

@media (max-width: 650px) {
  .dialogue-list {
    padding: 0.5rem;
  }

  .dialogue-header input {
    min-width: 200px;
  }
}
