.dialogue-item {
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  background-color: var(--clr-card-bg);
  border: 1px solid var(--clr-border);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.selected {
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-page-bg);
}

.dialogue-item:hover {
  background-color: var(--clr-page-bg-dark);
}

.dialogue-item img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid var(--clr-primary-text);
}

.dialogue-item p {
  font-size: 0.875rem;
  color: var(--clr-secondary-text);
  margin-bottom: 0;
}

.dialogue-item-wrapper {
  width: 100%;
}

.dialogue-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
}

.dialogue-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
}

.name {
  font-size: 1rem;
  font-weight: 700;
}

.timestamp {
  font-size: 0.75rem;
  color: var(--clr-accent-light-text);
}

.new-messages {
  background-color: var(--clr-important);
  border-radius: 50%;
  font-size: 0.675rem;
  font-weight: 700;
  color: white;
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-content: center;
  flex-shrink: 0;
}

@media (max-width: 650px) {
  .dialogue-item {
    padding: 0.75rem;
  }
}
