.message-screen-grid {
  display: grid;
  grid-template-columns: minmax(450px, 1fr) 1.5fr;
  padding: 0 1rem 1rem;
  gap: 1rem;
  height: 100%;
  width: 100%;
}

@media (max-width: 1400px) {
  .message-screen-grid {
    grid-template-columns: 1fr;
  }

  .hide {
    display: none !important;
  }
}

@media (max-width: 850px) {
  .message-screen-grid {
    padding: 0;
  }
}
