.help-screen-overlay {
  position: absolute;
  display: grid;
  place-content: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3rem 4rem;
}

.help-screen {
  border-radius: 0.5rem;
  width: minmax(max-content, 100%);
  background-color: var(--clr-login-form-bg);
  color: var(--clr-main-text);
  padding: 2rem;
}

.help-screen h2 {
  text-align: center;
  margin-top: 0;
}

.help-screen p,
.help-screen li {
  font-size: 1.125rem;
}

.help-screen ul {
  padding-left: 1.5rem;
}

.help-screen li {
  margin: 0.5rem 0;
}

.help-screen span {
  color: var(--clr-primary-text);
}

.help-screen button {
  cursor: pointer;
  display: block;
  border: none;
  background-color: var(--clr-primary);
  color: var(--clr-alt-text);
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-family: var(--ff-main);
  margin: 2rem auto 0;
}

.help-screen button:hover {
  background-color: var(--clr-primary-dark);
}

@media (max-width: 950px) {
  .help-screen-overlay {
    padding: 1rem 2rem;
  }

  .help-screen {
    padding: 1.5rem;
  }

  .help-screen li {
    margin: 0.375rem 0;
  }
}

@media (max-width: 550px) {
  .help-screen-overlay {
    padding: 1rem;
  }

  .help-screen {
    padding: 1rem;
  }

  .help-screen li {
    margin: 0.25rem 0;
  }
}
