.login-option-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--clr-page-bg);
  border-bottom: 1px solid var(--clr-border);
}

.login-option-item:hover {
  background-color: var(--clr-login-option-hover-bg);
}

.name {
  font-size: 0.875rem;
  color: var(--clr-main-text);
  padding: 0.4rem 0.75rem;
}

.position {
  font-size: 0.75rem;
  color: var(--clr-accent-light-text);
  padding: 0 0.75rem 0.25rem;
}
