.login-screen-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  width: 100vw;
}

.login-img {
  background: linear-gradient(rgba(53, 111, 168, 0.3), rgba(53, 111, 168, 0.3)),
    url("/images/bsu-login.jpg");
  background-position: center;
  background-size: cover;
}

.login-form-container {
  background-color: var(--clr-login-form-bg);
  height: 100%;
  padding: 1.5rem calc(calc(100% - clamp(250px, 85%, 400px)) / 2);
  display: grid;
  grid-template-rows: auto auto 1fr;
  place-items: start;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.logo-container img {
  width: 3rem;
  height: 3rem;
}

.logo-container span {
  font-size: 0.875rem;
  color: var(--clr-main-text);
}

.title-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title-flex button {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: var(--clr-primary);
  color: var(--clr-alt-text);
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--ff-main);
  width: 2rem;
  height: 2rem;
}

.title-flex button:hover {
  background-color: var(--clr-primary-dark);
}

.login-form-container h1 {
  font-weight: 700;
  font-size: 2rem;
  margin: 3rem 0;
}

.centered {
  margin-top: 3rem;
  display: grid;
  place-content: start center;
  width: 100%;
  height: calc(100% - 3rem);
}

@media (max-width: 1100px) {
  .login-screen-grid {
    grid-template-columns: 1fr 1.4fr;
  }
}

@media (max-width: 950px) {
  .login-screen-grid {
    grid-template-columns: 1fr;
    position: relative;
  }

  .login-form-container {
    border-radius: 0.5rem;
    position: absolute;
    width: 90%;
    max-width: 500px;
    height: calc(100% - 4rem);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
  }
}

@media (max-width: 550px) {
  .login-screen-grid {
    grid-template-columns: 1fr;
  }

  .login-img {
    display: none;
  }

  .login-form-container {
    width: 100%;
    max-width: none;
    height: fit-content;
    border-radius: 0;
  }

  .login-form-container h1 {
    font-size: 1.75rem;
    margin: 2.5rem 0;
  }
}
