.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
}

.form button {
  cursor: pointer;
  background-color: var(--clr-primary);
  color: var(--clr-alt-text);
  border: none;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--ff-main);
  width: 100%;
}

.form button:hover {
  background-color: var(--clr-primary-dark);
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.input-container input {
  border-radius: 0.25rem;
  border: 1px solid var(--clr-border);
  padding: 0.5rem 0.75rem;
  background-color: var(--clr-alt-bg);
  color: var(--clr-main-text);
  font-family: var(--ff-main);
  font-size: 1.125rem;
  width: 100%;
}

.input-container label {
  font-size: 1rem;
  color: var(--clr-primary-text);
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.checkbox-container label {
  font-size: 0.875rem;
  color: var(--clr-primary-text);
}

.link {
  cursor: pointer;
  font-size: 0.875rem;
  color: var(--clr-accent-light-text);
  text-decoration: underline;
}

.login-options {
  position: absolute;
  width: 95%;
  bottom: 0;
  left: 0;
  border: 1px solid var(--clr-secondary-text);
  z-index: 1;
  transform: translateY(100%);
}

.error {
  margin: 0;
  padding: 0.75rem;
  text-align: center;
  font-size: 0.875rem;
  background: linear-gradient(
    90deg,
    var(--clr-card-bg) 0%,
    var(--clr-error-bg) 50%,
    var(--clr-card-bg) 100%
  );
  color: var(--clr-error);
  width: 100%;
}
