.layout-grid {
  display: grid;
  min-height: 100vh;
  max-width: 100vw;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 4.5rem 1fr;
}

.layout-grid main {
  height: calc(100vh - 5rem);
  max-width: 100%;
  overflow-y: scroll;
}

.layout-grid main::-webkit-scrollbar {
  width: 0.4rem;
  background: var(--clr-page-bg);
}

.layout-grid main::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary-dark);
}

.layout-nav {
  grid-row: 1 / 3;
}

.centered {
  display: grid;
  place-content: center;
  height: 100vh;
}

@media (max-width: 900px) {
  .layout-grid {
    grid-template-columns: 1fr;
  }

  .layout-nav {
    display: none;
  }
}
