.home-grid {
  display: grid;
  padding: 0 1rem 1rem;
  gap: 1rem;
  height: 100%;
  grid-template-columns: 1fr 2.25fr 1fr;
  grid-template-rows: 1fr 2.25fr;
  grid-template-areas:
    "news messages jabber"
    "news timetable jabber";
}

.home-news {
  grid-area: news;
}

.home-messages {
  grid-area: messages;
}

.home-timetable {
  grid-area: timetable;
}

.home-jabber {
  grid-area: jabber;
}

@media (max-width: 1300px) {
  .home-grid {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "messages"
      "timetable"
      "jabber"
      "news";
  }

  .home-news {
    margin-bottom: 2rem;
  }
}
