.message-block h2 {
  margin: 0;
  padding: var(--padding-default);
  font-size: 1.25rem;
  color: var(--clr-main-text);
}

.message-block p {
  margin: 0 0 1.5rem;
  font-size: 1rem;
  color: var(--clr-main-text);
  align-self: flex-start;
}

.message-number {
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--clr-accent);
}

.from {
  font-weight: 700;
  color: var(--clr-primary-text);
}

.message-block-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 var(--padding-default) var(--padding-default);
}
