.news-item {
  color: var(--clr-main-text);
  padding: 1rem var(--padding-default);
}

.news-item h3 {
  margin-top: 0;
  margin-bottom: 0.6rem;
  font-size: 0.8rem;
  font-weight: 400;
}

.news-item time {
  font-size: 0.75rem;
  color: var(--clr-accent-light-text);
}

.news-item:hover {
  background-color: var(--clr-page-bg-dark);
}

@media (max-width: 1300px) {
  .news-item {
    border: 1px solid var(--clr-border);
    padding: 1rem;
    height: 200px;
    width: 200px;
    flex-grow: 1;
    flex-shrink: 0;
  }

  .news-item h3 {
    font-size: 0.875rem;
  }
}
