.news-group {
  max-height: 100%;
}

.news-group h2 {
  margin: 0;
  padding: var(--padding-default);
  font-size: 1.25rem;
  color: var(--clr-main-text);
}

.news-container {
  max-height: calc(100% - 5rem);
  overflow-y: scroll;
}

.news-container::-webkit-scrollbar {
  width: 0.4rem;
  background: var(--clr-card-bg);
}

.news-container::-webkit-scrollbar-thumb {
  background-color: rgba(165, 165, 165, 0.5);
}

.centered {
  display: grid;
  place-content: center;
  padding: 3rem 1.5rem;
}

@media (max-width: 1300px) {
  .news-group {
    max-height: none;
  }

  .news-container {
    max-height: none;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    overflow-x: scroll;
    padding: 0 var(--padding-default) var(--padding-default);
    gap: 0.5rem;
  }

  .news-container::-webkit-scrollbar {
    height: 0.4rem;
  }
}
