.lesson {
  display: grid;
  grid-template-columns: 1fr 5fr 0.8fr 1.25fr 3fr;
  padding: 1rem 0;
  gap: 1rem;
}

.lesson span {
  font-size: 1rem;
}

.lesson-time {
  color: var(--clr-primary-text);
}

.lesson-type.lab {
  color: var(--clr-lab);
}

.lesson-type.lecture {
  color: var(--clr-accent);
}

.lesson-type.practice {
  color: var(--clr-practice);
}

.lesson-time,
.lesson-type,
.lesson-groups,
.lesson-room {
  text-align: center;
}

.lesson-groups,
.lesson-subject {
  overflow: hidden;
  overflow-wrap: break-word;
}
