.timetable-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.timetable-block h2 {
  margin: 0;
  padding: var(--padding-default);
  font-size: 1.25rem;
  color: var(--clr-main-text);
}

.timetable-container {
  width: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-default);
}

.container p {
  align-self: center;
  margin: 3rem 0;
  font-size: 1.25rem;
}
