.timetable-grid {
  display: grid;
  grid-template-columns: 1fr repeat(6, 4.5fr) 1fr;
  grid-template-rows: 1fr repeat(5, 1.25fr);
  grid-template-areas:
    "e1 d1 d2 d3 d4 d5 d6 e2"
    "t1 l1 l6 l11 l16 l21 l26 t1r"
    "t2 l2 l7 l12 l17 l22 l27 t2r"
    "t3 l3 l8 l13 l18 l23 l28 t3r"
    "t4 l4 l9 l14 l19 l24 l29 t4r"
    "t5 l5 l10 l15 l20 l25 l30 t5r";
  margin-top: 1.5rem;
}

.day,
.time {
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: var(--clr-primary-text);
}

.day {
  align-items: center;
  font-size: 1rem;
}

.time {
  align-items: flex-start;
  gap: 0.125rem;
  margin: 0 0.75rem;
  font-size: 1.125rem;
}

.minute {
  font-size: 0.8rem;
}

.t1 {
  grid-area: t1;
}

.t2 {
  grid-area: t2;
}

.t3 {
  grid-area: t3;
}

.t4 {
  grid-area: t4;
}

.t5 {
  grid-area: t5;
}

.t1r {
  grid-area: t1r;
}

.t2r {
  grid-area: t2r;
}

.t3r {
  grid-area: t3r;
}

.t4r {
  grid-area: t4r;
}

.t5r {
  grid-area: t5r;
}
