.medium-timetable-container {
  margin: 1.5rem auto 0;
}

.timetable-header,
.lesson-container {
  display: grid;
  width: 100%;
  grid-template-columns: 2.3fr 18fr 1fr 2fr 10fr;
  gap: 1rem;
}

.timetable-header {
  padding: 0.75rem;
  background-color: var(--clr-alt-bg);
  color: var(--clr-primary-text);
}

.daily-timetable {
  width: 100%;
  padding: 0.75rem 0.75rem 0;
}

.daily-timetable > span {
  display: block;
  margin: 0.75rem auto 1.25rem;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--clr-primary-text);
}

.lesson-container {
  padding: 0.5rem 0;
  color: var(--clr-main-text);
}

.time {
  color: var(--clr-primary-text);
}

.lecture {
  color: var(--clr-accent);
}

.lab {
  color: var(--clr-lab);
}

.practice {
  color: var(--clr-practice);
}
