.daily-timetable-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0;
  margin-top: 1.5rem;
}

.daily-timetable-title span {
  font-size: 1.25rem;
  color: var(--clr-primary-text);
}

.daily-timetable-title img {
  width: 1.25rem;
  height: 1.25rem;
  transition: transform 0.15s ease-in;
}

.closed {
  transform: rotate(180deg);
}
