.timetable-item,
.timetable-item-small {
  position: relative;
  color: var(--clr-main-text);
  background-color: var(--clr-card-bg);
  border: 1px solid var(--clr-border);
}

.timetable-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
}

.timetable-item-small {
  display: grid;
  grid-template-columns: 2fr 12fr 1fr;
  gap: 1rem;
  padding: 0.75rem 1rem;
}

.time-room-container,
.subject-room-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.time-room-container {
  align-items: flex-start;
}

.subject-room-container {
  align-items: center;
}

.subject-room-container .groups {
  margin: 0;
  font-size: 1rem;
}

.timetable-item::before,
.timetable-item-small::before {
  content: "";
  position: absolute;
  width: 0.25rem;
  height: calc(100% + 2px);
  left: -1px;
}

.timetable-item-small::before {
  bottom: -1px;
}

.timetable-item.lab::before,
.timetable-item-small.lab::before {
  background-color: var(--clr-lab);
}

.timetable-item.lecture::before,
.timetable-item-small.lecture::before {
  background-color: var(--clr-accent);
}

.timetable-item.practice::before,
.timetable-item-small.practice::before {
  background-color: var(--clr-practice);
}

.time {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  color: var(--clr-primary-text);
}

.subject {
  font-weight: 700;
  font-size: 0.875rem;
  text-align: center;
}

.groups {
  font-size: 0.75rem;
  margin: 0.675rem 0;
  text-align: center;
}

.timetable-item-small .type {
  margin: auto 0;
}

.lesson-info {
  font-size: 0.875rem;
  margin: 0;
}

.lecture .lesson-info .type,
.lecture.timetable-item-small .type {
  color: var(--clr-accent);
}

.lab .lesson-info .type,
.lab.timetable-item-small .type {
  color: var(--clr-lab);
}

.practice .lesson-info .type,
.practice.timetable-item-small .type {
  color: var(--clr-practice);
}

@media (max-width: 600px) {
  .subject {
    font-size: 1rem;
  }

  .groups {
    font-size: 0.875rem;
  }

  .lesson-info {
    font-size: 1rem;
  }
}
