.timetable-card {
  margin: 0 1rem 1rem;
  min-height: calc(100% - 1rem);
}

.timetable-screen-grid {
  padding: 1.5rem;
}

.centered {
  display: grid;
  margin: 3rem auto;
  place-content: center;
}

@media (max-width: 850px) {
  .timetable-screen-grid {
    padding: 1rem;
  }
}
