.timetable-header,
.select-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.timetable-header h2 {
  margin: 0;
  font-size: 1.25rem;
  color: var(--clr-main-text);
}

.timetable-header select {
  border-radius: 0.25rem;
  border: 1px solid var(--clr-border);
  padding: 0.5rem 0.75rem;
  background-color: var(--clr-card-bg);
  color: var(--clr-main-text);
  font-family: var(--ff-main);
  min-width: 200px;
}

.select-container {
  gap: 1rem;
}

.select-container select option {
  color: rgba(0, 0, 0, 0.87);
}

@media (max-width: 750px) {
  .timetable-header {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 600px) {
  .timetable-header select {
    min-width: 100px;
  }
}
