.header {
  position: relative;
  background: var(--clr-page-bg);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-main-group {
  display: flex;
  align-items: center;
}

.mobile-menu {
  display: none;
}

@media (max-width: 900px) {
  .header {
    justify-content: space-between;
  }
  .mobile-menu {
    display: inline-block;
  }
}
