.header-link {
  padding: 1rem;
  background: var(--clr-page-bg);
  position: relative;
}

.tooltip {
  position: absolute;
  background: var(--clr-primary-text);
  border-radius: 0.25rem;
  color: var(--clr-alt-text);
  bottom: -1rem;
  left: -80%;
  font-size: 0.675rem;
  padding: 0.5rem;
}

.header-link:hover {
  background: var(--clr-page-bg-dark);
}

.header-link img {
  width: 1.5rem;
  height: 1.5rem;
}
