.user-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: var(--clr-page-bg);
  color: var(--clr-main-text);
}

.user-link:hover {
  background: var(--clr-page-bg-dark);
}

.user-link img {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
  border-radius: 50%;
  border: 2px solid var(--clr-primary-text);
}

.user-link span {
  font-size: 0.875rem;
}

@media (max-width: 500px) {
  .user-link span {
    display: none;
  }

  .user-link img {
    margin-left: 0;
  }
}
