.mobile-menu-panel {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--clr-nav-panel);
  color: var(--clr-alt-text);
  z-index: 1000;
  overflow-y: scroll;
  padding-top: 5rem;
}

.mobile-menu-panel::-webkit-scrollbar {
  width: 0.4rem;
  background: var(--clr-primary);
}

.mobile-menu-panel::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary-dark);
}

.nav-panel {
  margin-bottom: 3rem;
}

.nav-panel-top {
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-nav-panel);
  border-bottom: 1px solid var(--clr-light-border);
}

.close-button {
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--clr-alt-text);
  font-family: var(--ff-main);
  padding: 0.75rem 1rem;
}

.close-button img {
  width: 1.5rem;
  height: 1.5rem;
}

.close-button span {
  font-size: 0.875rem;
}

.hide {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.logo img {
  width: 2rem;
  height: 2rem;
}

.logo span {
  margin-left: 1rem;
  font-size: 0.875rem;
}
