.nav-group {
  border-top: 1px solid var(--clr-light-border);
  border-bottom: 1px solid var(--clr-light-border);
}

.nav-group-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.nav-group-title h3 {
  margin: 0;
}

.arrow {
  width: 1rem;
  height: 1rem;
  filter: invert(1);
  transition: transform 0.15s ease-in;
}

.group-opened {
  transform: rotate(180deg);
}

.nav-list {
  padding: 0;
  margin: 0;
}

@media (hover) {
  .nav-group-title:hover {
    background-color: var(--clr-primary-dark);
  }
}
