.nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.6rem 1.5rem;
}

.active {
  background-color: var(--clr-primary-dark);
}

.nav-item img {
  width: 1rem;
  height: 1rem;
}

.nav-item span {
  margin-left: 1rem;
  font-size: 0.875rem;
}

@media (max-width: 550px) {
  .nav-item {
    padding: 0.75rem 1.5rem;
  }

  .nav-item img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .nav-item span {
    font-size: 1.125rem;
  }
}

@media (hover) {
  .nav-item:hover {
    background-color: var(--clr-primary-dark);
  }
}
