.nav-panel {
  background-color: var(--clr-nav-panel);
  color: var(--clr-alt-text);
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 2rem;
}

.nav-panel::-webkit-scrollbar {
  width: 0.4rem;
  background-color: var(--clr-page-bg);
}

.nav-panel::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary-dark);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}

.logo img {
  width: 1.5rem;
  height: 1.5rem;
}

.logo span {
  font-size: 0.6875rem;
}
