.button-link {
  background-color: var(--clr-primary);
  color: var(--clr-alt-text);
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}

.button-link:hover {
  background-color: var(--clr-primary-dark);
}
