@keyframes ldio-wlrv42cln8f {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5, 1.5);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}
.ldio-wlrv42cln8f div > div {
  position: absolute;
  width: 15.36px;
  height: 15.36px;
  border-radius: 50%;
  background: var(--clr-primary-dark);
  animation: ldio-wlrv42cln8f 1s linear infinite;
}
.ldio-wlrv42cln8f div:nth-child(1) > div {
  left: 95px;
  top: 56px;
  animation-delay: -0.875s;
}
.ldio-wlrv42cln8f > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 102.68px 63.68000000000001px;
}
.ldio-wlrv42cln8f div:nth-child(2) > div {
  left: 83px;
  top: 83px;
  animation-delay: -0.75s;
}
.ldio-wlrv42cln8f > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 90.68px 90.68px;
}
.ldio-wlrv42cln8f div:nth-child(3) > div {
  left: 56px;
  top: 95px;
  animation-delay: -0.625s;
}
.ldio-wlrv42cln8f > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 63.68000000000001px 102.68px;
}
.ldio-wlrv42cln8f div:nth-child(4) > div {
  left: 29px;
  top: 83px;
  animation-delay: -0.5s;
}
.ldio-wlrv42cln8f > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 36.68000000000001px 90.68px;
}
.ldio-wlrv42cln8f div:nth-child(5) > div {
  left: 18px;
  top: 56px;
  animation-delay: -0.375s;
}
.ldio-wlrv42cln8f > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 25.680000000000007px 63.68000000000001px;
}
.ldio-wlrv42cln8f div:nth-child(6) > div {
  left: 29px;
  top: 29px;
  animation-delay: -0.25s;
}
.ldio-wlrv42cln8f > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 36.68000000000001px 36.68000000000001px;
}
.ldio-wlrv42cln8f div:nth-child(7) > div {
  left: 56px;
  top: 18px;
  animation-delay: -0.125s;
}
.ldio-wlrv42cln8f > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 63.68000000000001px 25.680000000000007px;
}
.ldio-wlrv42cln8f div:nth-child(8) > div {
  left: 83px;
  top: 29px;
  animation-delay: 0s;
}
.ldio-wlrv42cln8f > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 90.68px 36.68000000000001px;
}
.loadingio-spinner-spin-eh7ddtk38gh {
  width: 128px;
  height: 128px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}
.ldio-wlrv42cln8f {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-wlrv42cln8f div {
  box-sizing: content-box;
}
