.placeholder-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  height: 100%;
  padding: 1.5rem;
}

.placeholder-layout img {
  height: 40%;
  filter: drop-shadow(0 0.25rem 0.5rem rgba(0, 0, 0, 0.3));
}

.placeholder-layout h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--clr-secondary-text);
}

.placeholder-layout p {
  text-align: center;
  margin: 0;
  color: var(--clr-secondary-text);
}
