.settings-card {
  margin: 0 1rem 1rem;
  min-height: calc(100% - 1rem);
}

.settings-grid {
  padding: 1.5rem;
}

.settings-grid h2 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.25rem;
}

.container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.toggle-button {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
  margin: 0;
  vertical-align: top;
  background: var(--clr-card-bg);
  border: 1px solid var(--clr-primary-dark);
  border-radius: 2rem;
  outline: none;
  cursor: pointer;
  appearance: none;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button::after {
  position: absolute;
  content: "";
  display: inline-block;
  left: 4px;
  top: 2px;
  width: calc(1.5rem - 6px);
  height: calc(1.5rem - 6px);
  background-color: var(--clr-primary-dark);
  border-radius: 50%;
  transform: translateX(0);
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button:checked::after {
  transform: translateX(calc(100% + 3px));
  background-color: var(--clr-alt-text);
}
.toggle-button:checked {
  background-color: var(--clr-primary-text);
}
