@import url("https://fonts.googleapis.com/css2?family=Scada:wght@400;700&display=swap");

:root {
  --ff-main: "Scada";
  --padding-default: 1.5rem;
  --clr-main-text: rgba(0, 0, 0, 0.87);
  --clr-secondary-text: rgba(0, 0, 0, 0.7);
  --clr-alt-text: #ffffff;
  --clr-accent-light-text: rgba(53, 111, 168, 0.7);
  --clr-primary: #356fa8;
  --clr-primary-dark: #194c80;
  --clr-primary-text: #356fa8;
  --clr-accent: #9b158e;
  --clr-important: #ef7d13;
  --clr-positive: #1d9c39;
  --clr-error: #c02222;
  --clr-error-bg: rgba(236, 187, 187, 0.6);
  --clr-card-bg: #ffffff;
  --clr-page-bg: #f2f9ff;
  --clr-alt-bg: #f8f8f8;
  --clr-page-bg-dark: #b9cddf;
  --clr-border: rgba(0, 0, 0, 0.1);
  --clr-light-border: rgba(255, 255, 255, 0.2);
  --clr-nav-panel: #356fa8;
  --clr-login-form-bg: #ffffff;
  --clr-login-option-hover-bg: #b9cddf;
  --clr-chat-incoming: #add2f8;
  --clr-chat-outgoing: #9ab4ce;
  --clr-lab: #22a31f;
  --clr-practice: #3016d2;
}

.dark-theme {
  --clr-main-text: rgba(255, 255, 255, 0.87);
  --clr-secondary-text: rgba(255, 255, 255, 0.7);
  --clr-alt-text: #ffffff;
  --clr-accent-light-text: rgb(85, 159, 233);
  --clr-primary: rgba(255, 255, 255, 0.14);
  --clr-primary-dark: rgba(255, 255, 255, 0.16);
  --clr-primary-text: #4089d3;
  --clr-accent: #e929d6;
  --clr-important: #ef7d13;
  --clr-positive: #1d9c39;
  --clr-error: #e92f2f;
  --clr-error-bg: rgba(236, 187, 187, 0.1);
  --clr-card-bg: rgba(255, 255, 255, 0.05);
  --clr-page-bg: #121212;
  --clr-alt-bg: rgba(255, 255, 255, 0.07);
  --clr-page-bg-dark: rgba(255, 255, 255, 0.11);
  --clr-border: rgba(255, 255, 255, 0.1);
  --clr-nav-panel: rgb(45, 45, 45);
  --clr-login-form-bg: rgb(45, 45, 45);
  --clr-login-option-hover-bg: #333333;
  --clr-chat-incoming: #404d5a;
  --clr-chat-outgoing: #20252a;
  --clr-lab: #27c324;
  --clr-practice: #5136fd;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--ff-main);
  background-color: var(--clr-page-bg);
  color: var(--clr-main-text);
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before {
  box-sizing: border-box;
}

@media (max-width: 1400px) {
  :root {
    --padding-default: 1.125rem;
  }
}
